<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheet/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Read page</title>
</head>
<body>
    <div class="w-full h-full p-10 text-white">
        <div class="w-72 flex justify-between items-center">
            <h1 class="text-3xl tracking-tighter mb-3">All User</h1>
            <a href="/" class="text-blue-500">Go to home</a>
        </div>

        <div class="users flex flex-wrap gap-3">
            <div class="user w-72 p-4 bg-zinc-800 rounded-lg">
                <div class="w-full h-52 bg-zinc-600 rounded-lg"></div>

                <h3 class="text-xl tracking-tighter mt-3">Ehasun</h3>
                <h5 class="text-zinc-500">e@gmail.com</h5>

                <div class="flex gap-3 mt-6 justify-between">
                    <a href="" class="text-green-600 rounded-lg">Edit User</a>
                    <a href="" class="text-red-600 rounded-lg">Delete User</a>
                </div>
            </div>                 
        </div>
    </div>
</body>
</html>